/* Selected item styling */
.slds-is-selected {
    background-color: #f3f2f2;
}

.slds-is-selected:hover {
    background-color: #e8e8e8;
}

/* Checkbox icon container */
.slds-icon_container.slds-icon-utility-check {
    width: 1rem;
    height: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.slds-icon_container.slds-icon-utility-check.slds-show {
    opacity: 1;
}

.slds-icon_container.slds-icon-utility-check.slds-hide {
    opacity: 0;
}

/* Selected count badge */
.slds-badge {
    display: inline-flex;
    align-items: center;
}

/* Dropdown item hover */
.slds-listbox__option:hover {
    background-color: #f3f2f2;
    cursor: pointer;
}

/* Search input focus */
.slds-combobox__input:focus {
    outline: none;
    border-color: #1589ee;
    box-shadow: 0 0 3px #0070d2;
}